body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.main-header {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  color: #fff;
}

.btn-extend {
  display: block;
  width: 100%;
}

.user-view {
  min-height: 100px;
}

.main-header .showcase {
  padding-top: 50px;
}

.footer-text {
  margin-bottom: 30px;
}
